:root {
  --red: #f54e4e;
  --green: #4aec8c;
}

* {
  font-family: "Gloock", serif;
}

body {
  background-color: #30374b;
  color: #eee;
}

main {
  padding-top: 50px;
  max-width: 340px;
  margin: 0 auto;
  text-align: center;
}

.settings-container {
  text-align: left;
}

/* Buttons */

button {
  background-color: transparent;
  color: rgb(255, 255, 255, 0.8);
  border: 0;
  display: inline-block;
  width: 100px;
  cursor: pointer;
}

.buttons-container,
.settings-button-container {
  margin-top: 20px;
}

button.with-text {
  width: auto;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 14px;
  padding: 10px 20px;
  font-size: 1.4rem;
  line-height: 36px;
}

button.with-text svg {
  width: 36px;
  float: left;
  margin-right: 5px;
}

.back-button-container {
  text-align: center;
  margin-top: 20px;
  
}

.breakMode-container, .workMode-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 10px;
}

.breakMode-container-svg, .workMode-container-svg {
  width: 50px;
  height: 50px;
}

.down-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
 

/* Slider */

label {
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
  text-transform: capitalize;
}

.slider {
  height: 40px;
  border: 2px solid var(--red);
  border-radius: 20px;
}

.thumb {
  border-radius: 20px;
  background-color: var(--red);
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.slider.green {
  border: 2px solid var(--green);
}

.slider.green .thumb {
  background-color: var(--green);
}

.css-2ulfj5-MuiTypography-root {
  font-family: "Gloock", serif!important;
}

